language: java
jdk: oraclejdk8

env:
  - COMMIT=${TRAVIS_COMMIT::7}
script:
  - mvn test
  - mvn clean install package

sudo: required
 
services:
  - docker

after_success:
- docker login -u <ourdocker hub username> -p <ourpassword>
- export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH; fi`
- export IMAGE_NAME=kiranpayyavuala/myapp
- docker build -t $IMAGE_NAME:$COMMIT .
- docker tag $IMAGE_NAME:$COMMIT $IMAGE_NAME:$TAG
- docker push $IMAGE_NAME
