language: java
jdk: oraclejdk8

script:
  - mvn test
  - mvn clean package

sudo: required
 
services:
  - docker

after_success:
- docker login -u kiranpayyavuala -p kiranPAY1
- export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH; fi`
- export IMAGE_NAME=kiranpayyavuala/myapp
- docker build -t $IMAGE_NAME:$COMMIT .
- docker tag $IMAGE_NAME:$COMMIT $IMAGE_NAME:$TAG
- docker push $IMAGE_NAME
